{% extends "list_data/nav_bar.html" %}

{% block content %}
<p>User Songs</p>
<form method="POST">
  {% csrf_token %}
  <input type="submit" value="Modify selected?">
  <div class="account_music_list">
    <div>Song</div>
    <div>Rating</div>
    <div>Priority</div>
    <div>Remove?</div>
    {% for song in songs %}
    <div>{{ song.name }}</div>
    {% for x in user_ratings %}
    {% if x.song == song %}
    <div>
      <input type="number" name="new_rating" min="0" max="100" value="{{ x.rating }}">
      <input type="hidden" name="user_songs" value="{{ x.song }}">
    </div>
    <div>
      <input type="number" name="priority" min="0" max="100" value="{{ x.priority }}">
    </div>
    {% endif %}
    {% endfor %}
    <div>
      <input type="checkbox" name="remove" value="{{song.name}}">
    </div>
    {% endfor %}
  </div>
</form>
{% endblock %}