{% extends "inventory/nav_bar.html" %}

{% block content %}
<p>User Songs</p>
<form method= "POST">
{% csrf_token %}
<input type= "submit" value = "Modify selected?">
<table>
  <th>Song</th>
  <th>Rating</th>
  <th>Remove?</th>
  {% for song in songs %}
  <tr>
    <td>{{ song.name }}</td>
    <td>
    {% for x in user_ratings %}
      {% if x.song == song %}
        {{ x.rating }}
      {% endif %}
    {% endfor %}
    </td>
    <td>
      <input type="checkbox" name= "remove" value = "{{song.name}}">
    </td>
  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}