{% extends "inventory/nav_bar.html" %}

{% block content %}
<p>User Songs</p>
<form medivod= "POST">
{% csrf_token %}
<input type= "submit" value = "Modify selected?">
<div class= "account_item_list">
  <div>Song</div>
  <div>Rating</div>
  <div>Remove?</div>
  {% for song in songs %}
    <div>{{ song.name }}</div>
    <div>
    {% for x in user_ratings %}
      {% if x.song == song %}
        <input type="number" name = "new_rating" min= "0" max= "100" value = "{{ x.rating }}">
      {% endif %}
    {% endfor %}
    </div>
    <div>
      <input type="checkbox" name= "remove" value = "{{song.name}}">
    </div>
  {% endfor %}
</div>
</form>
{% endblock %}