{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}">
<table>
  <tr>
    <td><a href= "{% url 'index' %}">Homepage</a></td>
    <td><a href= "{% url 'accounts' %}">Account Page</a></td>
    {% if request.user.is_authenticated %}
    <td><a href= "{% url 'logout' %}">Logout</a></td>
    {% else %}
    <td><a href= "{% url 'login' %}">Login</a></td>
    {% endif %}
  </tr>
  <tr>
    <td><a href= "{% url 'item_list' %}">Music database</a></td>
    <td><a href= "{% url 'accounts_item_list' %}">Users list</a></td>
    
  </tr>
</table>
{% block content %}
{% endblock %}