{% extends 'list_data/nav_bar.html' %}

{% block content %}

<h1>{{ item_list.name }}</h1>
<a href="{% url 'tag-add' item_list.pk %}">Add Tag</a>
<a href="{% url 'item-add' item_list.pk %}">Add Item</a>
<div class="item_grid">
  <div class = "items">
    <div>Name</div>
    {% for item in items %}
      <div>{{ item.name }}</div>
      {% endfor %}
    </div>
    {% for value_list in tag_columns %}
    <div class="tags">
      {% for value in value_list %}
      <div>{{ value }}</div>
      {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}