{% extends 'list_data/nav_bar.html' %}

{% block content %}

<h1>{{ item_list.name }}</h1>
<a href="{% url 'tag-add' item_list.pk %}">Add Tag</a>
<div class="item_grid">
  <div class="tags">
    <div>Name</div>
    {% for tag in tags %}
    <div>{{ tag.name }}</div>
    {% endfor %}
  </div>
  {% for item in items %}
  <div class = "items">
    <div>{{ item.name }}</div>
    {% for tag in tags %}
    {% for tag_value in tag_values %}
    {% if tag == tag_value.tag and item == tag_value.item %}
    <div>{{ tag_value.value }}</div>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}